<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:versionCode="500" android:versionName="3.7.0">

	<supports-screens android:xlargeScreens="true" />

	<uses-permission
		android:name="android.permission.CAMERA" />
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application android:label="Remote Health"
		android:icon="@mipmap/ic_launcher">
		<activity
			android:name="com.gluonhq.helloandroid.MainActivity"
			android:exported="true"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:screenOrientation="portrait"
			tools:replace="android:configChanges">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.support.PARENT_ACTIVITY"
				android:value="com.gluonhq.helloandroid.MainActivity" />
		</activity>

		<receiver
			android:name="com.gluonhq.helloandroid.AlarmReceiver" />

		<activity
			android:name="com.gluonhq.impl.attach.android.PermissionRequestActivity"
			android:exported="true" />
	</application>
</manifest>
